.home-card {
  background-color: rgb(233, 244, 247);

  margin-top: 30px;
  padding: 20px;
  width: 390px;
  border-radius: 5px;
  height: auto;
}
.img-container {
  text-align: center;
}
.button {
  text-align: center;
}
.icon-style {
  margin: 20px;
  border-radius: 50%;
  font-size: 20px;
  border: 2px solid#7e7e7e;
  padding: 5px;
  color: #7e7e7e;
}
h2 {
  color: #777272;
}
h2 span {
  color: #871454;
  font-weight: bold;
}
.btn button {
  padding: 10px 20px;
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
  width: 300px;
  color: white;
  border-radius: 7px;
  border: none;
  outline: none;
}

.btn-cond {
  background-color: #9dbb2d;
}
.btn-pass {
  background-color: #871454;
}
